#cmp-launcher {
    background-color: #EAEAEA;
    background-color: rgba(224, 224, 224, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: gray;
    padding: 7px 7px 8px;
    position: absolute;
    z-index: 12;
    /**/
    right: 35px;
    top: 45px;
    /*height: 42px;*/
}
    #cmp-launcher a {
        display: inline-block;
        padding: 7px;
        text-decoration: none;
    }
    #cmp-launcher a:hover {
        border: 1px solid #9caf78;
    }
    #cmp-launcher a:focus, #cmp-launcher a:active {
        background-color: #c1c1c1;
        margin: 1px 0 -1px;
    }